<div class="filter-block">
    <div class="filter-block__logo">
        <img src="./src/images/logo.png" class="logo" alt="">
    </div>
    <div class="filter-block__header">
        <div class="filter-block__title">Выберите друзей</div>
        <div class="filter-block__close">
            <svg class="filter-block__icon-cross" width="15" height="15">
                <use class="filter-block__cross" xlink:href="#cross" />
            </svg>
        </div>
    </div>
    <div class="filter-block__items">
        <div class="filter-block__item">
            <svg class="filter-block__icon" width="15" height="15">
                <use class="filter-block__svg" xlink:href="#search" x="0" y="0" />
            </svg>
            <input type="text" class="filter-block__input" placeholder="Начните вводить имя друга">
        </div>
        <div class="filter-block__item">
            <svg class="filter-block__icon" width="15" height="15">
                <use class="filter-block__svg" xlink:href="#search" x="0" y="0" />
            </svg>
            <input type="text" class="filter-block__input" placeholder="Название">
        </div>
    </div>
    <div class="filter-block__content">
        {{> "./friend-list.hbs"}}
    </div>
    <div class="filter-block__footer">
        <button class="filter-block__save">Сохранить</button>
    </div>
</div>