{{#each items}}
<li class="friend-item" draggable="true" id="{{id}}">
    <div class="friend-item__image">
        <img class="friend-item__icon" src="{{photo_100}}" alt="">
    </div>
    <div class="friend-item__name">{{first_name}} {{last_name}}</div>
    <div class="friend-item__button">
        <svg class="friend-item__button-icon" width="15" height="15">
            <use class="friend-item__button-svg" xlink:href="#cross" x="0" y="0" />
        </svg>
    </div>
</li>
{{/each}}