<div class="filter-info">
    <div class="filter-block__title">Ваши друзья</div>
    <ul class="filter-block__list"></ul>
</div>
<div class="filter-info">
    <div class="filter-block__title">Ваши друзья</div>
    <ul class="filter-block__list"></ul>
</div>