<div class="filter-info">
    <div class="filter-info__title">Ваши друзья</div>
    <ul class="filter-info__list list-user-left"></ul>
</div>
<div class="filter-info">
    <div class="filter-info__title">Ваши друзья</div>
    <ul class="filter-info__list list-user-right"></ul>
</div>