<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{htmlWebpackPlugin.options.title}}</title>
  </head>
  <body>
    <div class="sprite" style="display: none">
      {{> "./svg.hbs"}}
    </div>
    <div class="wrapper">
      {{> "./filter.hbs"}}
    </div>
    {{> "./filter-friend"}}
    <script src="//vk.com/js/api/openapi.js" type="text/javascript"></script>
  </body>
</html>