{{#each list}}
<li class="friend-item" draggable="true">
    <div class="friend-item__content" >
        <div class="friend-item__image">
            <img class="friend-item__icon" src="{{photo}}" draggable="false" alt="">
        </div>
        <div class="friend-item__name">{{userName}}</div>
    </div>
    <div class="friend-item__button add">
        <svg class="friend-item__button-icon" width="15" height="15">
            <use class="friend-item__button-svg" xlink:href="#cross" x="0" y="0" />
        </svg> 
    </div>
</li>
{{/each}}