
* , :after , :before{
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    margin: 0;
}
h1{
    font-size: 63px;
}
h2{
    font-size: 35px;
}
input, textarea{
    outline: none;
    border: 1px solid #fff;
}
textarea{
    resize: vertical;
}
button{
    outline: none;
}
input, textarea{
    &:focus{
        border: 1px solid #7ba5ff;
    }
}
ul, blockquote{
    margin: 0;
}
p{
    margin-top: 0;
    margin-bottom: 15px;
}
[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
  }